<ion-list-header>
  {{ recipe.ingredients.title | translate }}
</ion-list-header>
<ion-list lines="none">
  @for (item of recipe.ingredients.items; track item) {
    <ion-item>
      <i-lucide slot="start" [img]="item.icon"></i-lucide>
      <ion-label>
        {{ item.label | translate }}
        <p>{{ item.description }}</p>
      </ion-label>
      <ion-note slot="end">
        {{ item.value | number: item.numberFormat ?? "1.0-0" }}
        {{ item.unit }}
      </ion-note>
    </ion-item>
  }
</ion-list>

<ion-list-header>
  {{ recipe.method.title | translate }}
</ion-list-header>
<ion-list lines="none">
  @for (item of recipe.method.items; track item) {
    <ion-item>
      <i-lucide slot="start" [img]="item.icon"></i-lucide>
      <ion-label>
        {{ item.label | translate }}
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  }
</ion-list>
