ion-badge {
  &.water {
    background-color: var(--piz-color-water);
    color: var(--piz-color-water-contrast);
  }
  &.yeast {
    background-color: var(--piz-color-yeast);
    color: var(--piz-color-yeast-contrast);
  }
  &.honey {
    background-color: var(--piz-color-honey);
    color: var(--piz-color-honey-contrast);
  }
  &.flour {
    background-color: var(--piz-color-flour);
    color: var(--piz-color-flour-contrast);
  }
  &.salt {
    background-color: var(--piz-color-salt);
    color: var(--piz-color-salt-contrast);
  }
}
