<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>{{ "pages.doughs.title" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/settings']">
        <i-lucide slot="icon-only" [img]="SettingsIcon"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="placeholder">
    <i-lucide [img]="LibraryIcon" [size]="40"></i-lucide>
    <h2>{{ "pages.doughs.title" | translate }}</h2>
    <p>{{ "pages.doughs.placeholder" | translate }}</p>
  </div>
</ion-content>
