<form [formGroup]="form">
  <ion-list-header>Language</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-select
        formControlName="locale"
        mode="ios"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
        [label]="'language.selector.title' | translate"
      >
        @for (locale of availableLocales; track locale) {
          <ion-select-option [value]="locale.value">
            {{ locale.translateKey | translate }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list-header>Appearance</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle formControlName="paletteToggle" justify="space-between">{{
        "settings.form.appearance.paletteToggle.title" | translate
      }}</ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list-header>{{
    "settings.form.dough.title" | translate
  }}</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-input
        [label]="'settings.form.dough.pizzaWeight.title' | translate"
        type="number"
        formControlName="pizzaWeight"
        [max]="400"
        [min]="200"
        labelPlacement="stacked"
        [helperText]="'settings.form.dough.pizzaWeight.helperText' | translate"
      />
    </ion-item>
    <ion-item>
      <ion-input
        [helperText]="'settings.form.dough.saltRatio.helperText' | translate"
        [label]="'settings.form.dough.saltRatio.title' | translate"
        type="number"
        formControlName="saltRatio"
        [max]="3.2"
        [min]="2.8"
        labelPlacement="stacked"
      />
    </ion-item>
    <ion-item>
      <ion-input
        [helperText]="'settings.form.dough.honeyRatio.helperText' | translate"
        [label]="'settings.form.dough.honeyRatio.title' | translate"
        type="number"
        formControlName="honeyRatio"
        [max]="0.5"
        [min]="0"
        labelPlacement="stacked"
      />
    </ion-item>
  </ion-list>
</form>
