<form [formGroup]="form">
  <ion-list-header>Language</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-select
        formControlName="locale"
        mode="ios"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
        [label]="'language.selector.title' | translate"
      >
        @for (locale of availableLocales; track locale) {
          <ion-select-option [value]="locale.value">
            {{ locale.translateKey | translate }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list-header>Appearance</ion-list-header>
  <ion-list [inset]="true">
    <ion-item>
      <ion-toggle formControlName="paletteToggle" justify="space-between">{{
        "settings.form.appearance.paletteToggle.title" | translate
      }}</ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list-header>{{
    "settings.form.dough.title" | translate
  }}</ion-list-header>
  <ion-list [inset]="true" lines="none">
    <ion-item>
      <ion-select
        mode="ios"
        [label]="'settings.form.dough.pizzaWeight.title' | translate"
        type="number"
        formControlName="pizzaWeight"
        [helperText]="'settings.form.dough.pizzaWeight.helperText' | translate"
      >
        @for (weight of range(200, 400, 10); track weight) {
          <ion-select-option [value]="weight">
            {{ weight }} g
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [helperText]="'settings.form.dough.saltRatio.helperText' | translate"
        [label]="'settings.form.dough.saltRatio.title' | translate"
        type="number"
        formControlName="saltRatio"
      >
        @for (ratio of range(2, 4, 0.1); track ratio) {
          <ion-select-option [value]="ratio">
            {{ ratio | number: "1.1-1" }} %
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [helperText]="'settings.form.dough.honeyRatio.helperText' | translate"
        [label]="'settings.form.dough.honeyRatio.title' | translate"
        type="number"
        formControlName="honeyRatio"
      >
        @for (ratio of range(0, 0.5, 0.1); track ratio) {
          <ion-select-option [value]="ratio">
            {{ ratio | number: "1.1-1" }} %
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>
</form>
