<form [formGroup]="form">
  <ion-item>
    <ion-select
      formControlName="locale"
      mode="ios"
      [cancelText]="'common.actions.cancel' | translate"
      [okText]="'common.actions.ok' | translate"
      [label]="'language.selector.title' | translate"
    >
      @for (locale of availableLocales; track locale) {
        <ion-select-option [value]="locale.value">
          {{ locale.translateKey | translate }}
        </ion-select-option>
      }
    </ion-select>
  </ion-item>
</form>
