@if (result) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{
        "dough.recipe.direct.title" | translate
      }}</ion-card-title>
      <ion-card-subtitle>{{
        "dough.recipe.direct.subtitle" | translate
      }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          {{ "dough.recipe.direct.step1Description" | translate }}
          <ul>
            <li
              [innerHTML]="
                'dough.recipe.quantity.flour'
                  | translate: { quantity: round(result.dough.flour, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.water'
                  | translate: { quantity: round(result.dough.water, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.yeast'
                  | translate: { quantity: round(result.dough.yeast, '1.0-1') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.salt'
                  | translate: { quantity: round(result.dough.salt, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.honey'
                  | translate: { quantity: round(result.dough.honey, '1.0-0') }
              "
            ></li>
          </ul>
        </li>
        <li>
          {{ "dough.recipe.direct.step2Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step3Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step4Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step5Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step6Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step7Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step8Description" | translate }}
        </li>
        <li
          [innerHTML]="
            'dough.recipe.direct.step9Description'
              | translate: { pizzaWeight: result.pizzaWeight }
          "
        ></li>
        <li>
          {{ "dough.recipe.direct.step10Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.direct.step11Description" | translate }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
}
