<ion-card>
  <ion-card-header>
    <ion-card-title>{{
      TranslationKeys.PIZZA.RECIPE.DIRECT.TITLE | translate
    }}</ion-card-title>
    <ion-card-subtitle>{{
      TranslationKeys.PIZZA.RECIPE.DIRECT.SUBTITLE | translate
    }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    Et voilà Préparation de la pâte

    <ul>
      <li>Peser tous les ingrédients</li>
      <li>Mélanger la levure et le miel à l’eau</li>
      <li>Ajouter le sel et la farine et mélanger à la cuillère en bois</li>
      <li>
        Une fois que tous les ingrédients sont bien mélangés et que l’on
        commence à avoir une boule, la déposer sur le plan de travail
      </li>
      <li>
        Terminer le pétrissage à la main environ 10&nbsp;min (possibilité
        d’utiliser un robot pâtissier avec son crochet pétrisseur). Bien pétrir
        pour hydrater correctement la farine
      </li>
      <li>
        Lorsque la pâte possède une belle structure, former une boule et la
        laisser reposer 25&nbsp;min sous un saladier (la pâte va se tendre et
        devenir plus lisse)
      </li>
      <li>
        Procéder à quelques rabats sur la pâte et lui donner une belle forme de
        boule (bien lisse et qui ne colle plus)
      </li>
      <li>
        Déposer la boule dans un récipient hermétique et la laisser reposer
        24&nbsp;heures
      </li>
      <li>
        Récupérer la pâte et, avec un coupe-pâte ou une spatule, former des
        pâtons (bien tendus) d’environ 250&nbsp;g
      </li>
      <li>
        Déposer les pâtons dans un plat en laissant de l’espace entre eux (ils
        vont encore grossir)
      </li>
      <li>
        Fermer le plat ou le couvrir d’un film plastique et laisser reposer
        3&nbsp;heures
      </li>
    </ul>
  </ion-card-content>
</ion-card>
