a
@for (question of questionsData; track question) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ question.title | translate }}
      </ion-card-title>
      <ion-card-subtitle>
        {{ question.subtitle | translate }}
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      @for (answer of question.answers; track answer) {
        <p>
          {{ answer | translate }}
        </p>
      }
      @for (tip of question.tips!; track tip) {
        <div class="tips">
          <p>
            <strong>{{ tip.title | translate }}</strong>
            {{ tip.description | translate }}
          </p>
        </div>
      }
    </ion-card-content>
  </ion-card>
}
