<ion-header [translucent]="false" mode="ios">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "route.dough.index.title" | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment value="calculator">
      <ion-segment-button value="calculator" content-id="calculator">
        <ion-label
          >{{ "route.dough.index.segments.calculator" | translate }}</ion-label
        >
      </ion-segment-button>
      <ion-segment-button value="recipe" content-id="recipe">
        <ion-label
          >{{ "route.dough.index.segments.recipe" | translate }}</ion-label
        >
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-segment-view>
  <ion-segment-content id="calculator">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ "route.dough.index.calculator.title" | translate }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ "route.dough.index.calculator.subtitle" | translate }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <app-dough-form #form></app-dough-form>
      </ion-card-content>
      <ion-button
        fill="clear"
        expand="block"
        (click)="form.reset()"
        color="primary"
      >
        {{ "common.actions.reset" | translate }}
      </ion-button>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          {{ "route.dough.index.ingredients.title" | translate }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ "route.dough.index.ingredients.subtitle" | translate }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <app-dough-quantity></app-dough-quantity>
      </ion-card-content>
    </ion-card>
  </ion-segment-content>

  <ion-segment-content id="recipe">
    <app-dough-recipe></app-dough-recipe>
  </ion-segment-content>
</ion-segment-view>
