@let result = result$ | async;
@if (result) {
  <table>
    <thead>
      <tr>
        <th>
          {{ "dough.calculations.ingredients" | translate }}
        </th>
        @if (result?.poolish) {
          <th>{{ "dough.calculations.poolish" | translate }}</th>
        }
        <th>{{ "dough.calculations.dough" | translate }}</th>
        <th>{{ "dough.calculations.total" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ "dough.ingredients.flour" | translate }}</th>
        @if (result?.poolish) {
          <td>{{ result?.poolish?.flour | number: "1.0-0" }}</td>
        }
        <td>{{ result?.dough?.flour | number: "1.0-0" }}</td>
        <td>{{ result?.total?.flour | number: "1.0-0" }}</td>
      </tr>
      <tr>
        <th>{{ "dough.ingredients.water" | translate }}</th>
        @if (result?.poolish) {
          <td>{{ result?.poolish?.water | number: "1.0-0" }}</td>
        }
        <td>{{ result?.dough?.water | number: "1.0-0" }}</td>
        <td>{{ result?.total?.water | number: "1.0-0" }}</td>
      </tr>
      <tr>
        <th>{{ "dough.ingredients.yeast" | translate }}</th>
        @if (result?.poolish) {
          <td>{{ result?.poolish?.yeast | number: "1.0-1" }}</td>
        }
        <td>{{ result?.dough?.yeast | number: "1.0-1" }}</td>
        <td>{{ result?.total?.yeast | number: "1.0-1" }}</td>
      </tr>
      <tr>
        <th>{{ "dough.ingredients.salt" | translate }}</th>
        @if (result?.poolish) {
          <td>{{ result?.poolish?.salt | number: "1.0-0" }}</td>
        }
        <td>{{ result?.dough?.salt | number: "1.0-0" }}</td>
        <td>{{ result?.total?.salt | number: "1.0-0" }}</td>
      </tr>
      <tr>
        <th>{{ "dough.ingredients.honey" | translate }}</th>
        @if (result?.poolish) {
          <td>{{ result?.poolish?.honey | number: "1.0-0" }}</td>
        }
        <td>{{ result?.dough?.honey | number: "1.0-0" }}</td>
        <td>{{ result?.total?.honey | number: "1.0-0" }}</td>
      </tr>
      <tr>
        <th>{{ "dough.calculations.total" | translate }}</th>
        @if (result?.poolish) {
          <td>
            {{
              round(
                (result?.poolish?.flour ?? 0) +
                  (result?.poolish?.water ?? 0) +
                  (result?.poolish?.yeast ?? 0) +
                  (result?.poolish?.honey ?? 0) +
                  (result?.poolish?.salt ?? 0)
              ) | number: "1.0-0"
            }}
          </td>
        }
        <td>
          {{
            round(
              (result?.dough?.flour ?? 0) +
                (result?.dough?.water ?? 0) +
                (result?.dough?.yeast ?? 0) +
                (result?.dough?.honey ?? 0) +
                (result?.dough?.salt ?? 0)
            ) | number: "1.0-0"
          }}
        </td>
        <td>
          {{
            round(result?.total?.flour ?? 0) +
              (result?.total?.water ?? 0) +
              round(result?.total?.yeast ?? 0) +
              round(result?.total?.honey ?? 0) +
              round(result?.total?.salt ?? 0) | number: "1.0-0"
          }}
        </td>
      </tr>
    </tbody>
  </table>
}
