@let result = result$ | async;
@if (result) {
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>{{
          "dough.calculations.ingredients" | translate
        }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{ "dough.calculations.poolish" | translate }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{ "dough.calculations.dough" | translate }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{ "dough.calculations.total" | translate }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ "dough.ingredients.flour" | translate }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{ result?.poolish?.flour | number: "1.0-0" }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{ result?.dough?.flour | number: "1.0-0" }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{ result?.total?.flour | number: "1.0-0" }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ "dough.ingredients.water" | translate }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{ result?.poolish?.water | number: "1.0-0" }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{ result?.dough?.water | number: "1.0-0" }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{ result?.total?.water | number: "1.0-0" }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ "dough.ingredients.yeast" | translate }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{ result?.poolish?.yeast | number: "1.0-2" }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{ result?.dough?.yeast | number: "1.0-2" }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{ result?.total?.yeast | number: "1.0-2" }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ "dough.ingredients.salt" | translate }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{ result?.poolish?.salt | number: "1.0-0" }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{ result?.dough?.salt | number: "1.0-0" }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{ result?.total?.salt | number: "1.0-0" }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ "dough.ingredients.honey" | translate }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{ result?.poolish?.honey | number: "1.0-0" }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{ result?.dough?.honey | number: "1.0-0" }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{ result?.total?.honey | number: "1.0-0" }}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>{{ "dough.calculations.total" | translate }}</ion-label>
      </ion-col>
      @if (result?.poolish) {
        <ion-col>
          <ion-label>{{
            round(
              (result?.poolish?.flour ?? 0) +
                (result?.poolish?.water ?? 0) +
                (result?.poolish?.yeast ?? 0) +
                (result?.poolish?.honey ?? 0) +
                (result?.poolish?.salt ?? 0)
            ) | number: "1.0-0"
          }}</ion-label>
        </ion-col>
      }
      <ion-col>
        <ion-label>{{
          round(
            (result?.dough?.flour ?? 0) +
              (result?.dough?.water ?? 0) +
              (result?.dough?.yeast ?? 0) +
              (result?.dough?.honey ?? 0) +
              (result?.dough?.salt ?? 0)
          ) | number: "1.0-0"
        }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>{{
          round(result?.total?.flour ?? 0) +
            (result?.total?.water ?? 0) +
            round(result?.total?.yeast ?? 0) +
            round(result?.total?.honey ?? 0) +
            round(result?.total?.salt ?? 0) | number: "1.0-0"
        }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
}
