ion-badge {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);
}

div[slot="content"] {
  background-color: var(--ion-card-background);
}
// ion-list-header {
//   color: var(--ion-color-primary);
//   font-weight: bold;
// }

// ion-card {
//   box-shadow: none !important;
// }

table {
  width: 100%;
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;
  overflow: hidden;
  th,
  td {
    text-align: center;
    padding: 0.5rem;
    // border: 1px solid var(--ion-color-medium);
    // border-top: 1px solid var(--ion-color-primary);
  }

  thead {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
}

@media (prefers-color-scheme: dark) {
  table {
    tbody {
      color: var(--ion-color-light-shade);
    }
  }
}
