@if (result) {
  <table>
    <thead>
      <tr>
        <th>
          {{ TranslationKeys.PIZZA.CALCULATIONS.INGREDIENTS | translate }}
        </th>
        @if (result.poolish) {
          <th>{{ TranslationKeys.PIZZA.CALCULATIONS.POOLISH | translate }}</th>
        }
        <th>{{ TranslationKeys.PIZZA.CALCULATIONS.DOUGH | translate }}</th>
        <th>{{ TranslationKeys.PIZZA.CALCULATIONS.TOTAL | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>{{ TranslationKeys.PIZZA.INGREDIENTS.FLOUR | translate }}</th>
        @if (result.poolish) {
          <td>{{ result.poolish.flour }}</td>
        }
        <td>{{ result.dough.flour }}</td>
        <td>{{ result.total.flour }}</td>
      </tr>
      <tr>
        <th>{{ TranslationKeys.PIZZA.INGREDIENTS.WATER | translate }}</th>
        @if (result.poolish) {
          <td>{{ result.poolish.water }}</td>
        }
        <td>{{ result.dough.water }}</td>
        <td>{{ result.total.water }}</td>
      </tr>
      <tr>
        <th>{{ TranslationKeys.PIZZA.INGREDIENTS.YEAST | translate }}</th>
        @if (result.poolish) {
          <td>{{ result.poolish.yeast }}</td>
        }
        <td>{{ result.dough.yeast }}</td>
        <td>{{ result.total.yeast }}</td>
      </tr>
      <tr>
        <th>{{ TranslationKeys.PIZZA.INGREDIENTS.SALT | translate }}</th>
        @if (result.poolish) {
          <td>{{ result.poolish.salt }}</td>
        }
        <td>{{ result.dough.salt }}</td>
        <td>{{ result.total.salt }}</td>
      </tr>
      <tr>
        <th>{{ TranslationKeys.PIZZA.INGREDIENTS.HONEY | translate }}</th>
        @if (result.poolish) {
          <td>{{ result.poolish.honey }}</td>
        }
        <td>{{ result.dough.honey }}</td>
        <td>{{ result.total.honey }}</td>
      </tr>
      <tr>
        <th>{{ TranslationKeys.PIZZA.CALCULATIONS.TOTAL | translate }}</th>
        @if (result.poolish) {
          <td>
            {{
              result.poolish.flour +
                result.poolish.water +
                result.poolish.yeast +
                result.poolish.honey +
                result.poolish.salt | number: "1.0-0"
            }}
          </td>
        }
        <td>
          {{
            result.dough.flour +
              result.dough.water +
              result.dough.yeast +
              result.dough.honey +
              result.dough.salt | number: "1.0-0"
          }}
        </td>
        <td>
          {{
            result.total.flour +
              result.total.water +
              result.total.yeast +
              result.total.honey +
              result.total.salt | number: "1.0-0"
          }}
        </td>
      </tr>
    </tbody>
  </table>
}
