<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="calculator"
      routerLink="/tabs/calculator"
      routerDirection="root"
    >
      <i-lucide [img]="CalculatorIcon"></i-lucide>
      <ion-label>{{ 'pages.tabs.calculate' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="recipes"
      routerLink="/tabs/recipes"
      routerDirection="root"
    >
      <i-lucide [img]="PizzaIcon"></i-lucide>
      <ion-label>{{ 'pages.tabs.recipes' | translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button
      tab="doughs"
      routerLink="/tabs/doughs"
      routerDirection="root"
    >
      <i-lucide [img]="LibraryIcon"></i-lucide>
      <ion-label>{{ 'pages.tabs.doughs' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
