// Kodchasan
@font-face {
  font-family: "Kodchasan";
  font-weight: 200;
  font-style: normal;
  src: url("/assets/fonts/Kodchasan/Kodchasan-ExtraLight.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 300;
  font-style: normal;
  src: url("/assets/fonts/Kodchasan/Kodchasan-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 400;
  font-style: normal;
  src: url("/assets/fonts/Kodchasan/Kodchasan-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 500;
  font-style: normal;
  src: url("/assets/fonts/Kodchasan/Kodchasan-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 600;
  font-style: normal;
  src: url("/assets/fonts/Kodchasan/Kodchasan-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 700;
  font-style: normal;
  src: url("/assets/fonts/Kodchasan/Kodchasan-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 200;
  font-style: italic;
  src: url("/assets/fonts/Kodchasan/Kodchasan-ExtraLightItalic.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 300;
  font-style: italic;
  src: url("/assets/fonts/Kodchasan/Kodchasan-LightItalic.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/Kodchasan/Kodchasan-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 500;
  font-style: italic;
  src: url("/assets/fonts/Kodchasan/Kodchasan-MediumItalic.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 600;
  font-style: italic;
  src: url("/assets/fonts/Kodchasan/Kodchasan-SemiBoldItalic.ttf")
    format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Kodchasan";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/Kodchasan/Kodchasan-BoldItalic.ttf")
    format("truetype");
  font-display: swap;
}
