<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/calculator"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "pages.calculator.complex.title" | translate }}</ion-title>
    <ion-buttons slot="end">
      <app-calculator-refresh-button></app-calculator-refresh-button>
      @if (isInitialized()) {
        <app-calculator-state-saver></app-calculator-state-saver>
      }
      <ion-button [routerLink]="['/tabs/calculator/settings']">
        <i-lucide slot="icon-only" [img]="SettingsIcon"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "pages.calculator.complex.title" | translate
      }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (isInitialized()) {
    <app-calculator-form></app-calculator-form>
    <ion-button
      class="ion-margin-top"
      expand="block"
      color="primary"
      [routerLink]="['/tabs/calculator/results/complex']"
    >
      {{ "pages.calculator.compute" | translate }}
    </ion-button>
  } @else {
    <!-- Loading skeleton -->
    <div class="loading-skeleton">
      <ion-item lines="none">
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-item>
    </div>
  }
</ion-content>
