ion-card {
  margin-bottom: 1rem;

  strong {
    color: var(--ion-color-primary);
  }

  ion-card-content {
    ul {
      margin: 1rem 0;
      padding-left: 1rem;

      li {
        margin-bottom: 0.8rem;
        line-height: 1.5;
        color: var(--ion-text-color);
        text-align: justify;
      }
    }

    .tips {
      background: var(--ion-color-step-50);
      border-left: 4px solid var(--ion-color-secondary);
      padding: 0.8rem 1rem;
      margin: 1rem 0;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

      p {
        margin: 0;
        color: var(--ion-text-color);
      }
    }

    .success-message {
      text-align: center;
      font-size: 1rem;
      margin: 1rem 0;
    }
  }
}
