<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "pages.home.settings.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "pages.home.settings.title" | translate
      }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-settings-form></app-settings-form>
</ion-content>
