<ion-button id="open-save-state">
  <i-lucide slot="icon-only" [img]="SaveIcon"></i-lucide>
</ion-button>

<ion-modal trigger="open-save-state">
  <ng-template>
    <ion-header [translucent]="false">
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">{{
            "common.actions.close" | translate
          }}</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button
            (click)="saveNewState()"
            [strong]="true"
            [disabled]="!form.valid"
            >{{ "common.actions.save" | translate }}</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <form [formGroup]="form">
        <ion-list-header>
          {{ "calculator.stateSaver.newSave" | translate }}
        </ion-list-header>
        <ion-list [lines]="'none'">
          <ion-item>
            <ion-input
              [label]="'calculator.stateSaver.saveStateName' | translate"
              labelPlacement="floating"
              type="text"
              [placeholder]="'calculator.stateSaver.saveStateName' | translate"
              formControlName="stateName"
              [errorText]="
                form.controls.stateName.errors?.['required']
                  ? ('calculator.stateSaver.nameRequired' | translate)
                  : form.controls.stateName.errors?.['stateNameExists']
                    ? ('calculator.stateSaver.nameAlreadyExists' | translate)
                    : ''
              "
            ></ion-input>
          </ion-item>
        </ion-list>
      </form>

      @if (savedStates().length > 0) {
        <ion-list-header>
          {{ "calculator.stateSaver.previousSaves" | translate }}
        </ion-list-header>

        <ion-list [lines]="'none'">
          @for (state of savedStates(); track state.name) {
            <ion-item (click)="presentActionSheet(state)">
              <ion-label>{{ state.name }}</ion-label>
              <ion-button slot="end" fill="clear">
                <i-lucide [img]="EllipsisIcon"></i-lucide>
              </ion-button>
            </ion-item>
          }
        </ion-list>
      }
    </ion-content>

    <ion-toast
      [message]="toastMessage() | translate"
      [duration]="3000"
      color="success"
    ></ion-toast>
  </ng-template>
</ion-modal>
