<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/calculator"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "pages.calculator.assistant.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{
        "pages.calculator.assistant.title" | translate
      }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @if (isInitialized()) {
    <app-assistant-form></app-assistant-form>
  } @else {
    <div class="loading-skeleton">
      <ion-item>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-item>
    </div>
  }
</ion-content>
