<ion-card>
  <ion-card-header>
    <ion-card-title>{{
      TranslationKeys.PIZZA.RECIPE.POOLISH_PREPARATION.TITLE | translate
    }}</ion-card-title>
    <ion-card-subtitle>{{
      TranslationKeys.PIZZA.RECIPE.POOLISH_PREPARATION.SUBTITLE | translate
    }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.POOLISH_PREPARATION.STEP_1_DESCRIPTION
            | translate
        }}
        <ul>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.FLOUR
                | translate: { quantity: result().poolishFlour }
            "
          ></li>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.WATER
                | translate: { quantity: result().poolishWater }
            "
          ></li>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.YEAST
                | translate: { quantity: result().poolishYeast }
            "
          ></li>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.HONEY
                | translate: { quantity: result().poolishHoney }
            "
          ></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.POOLISH_PREPARATION.STEP_2_DESCRIPTION
            | translate
        }}
      </li>
      <li
        [innerHTML]="
          TranslationKeys.PIZZA.RECIPE.POOLISH_PREPARATION.STEP_3_DESCRIPTION
            | translate
              : {
                  coldRestTime: result().coldRestTime,
                  rtRestTime: result().rtRestTime,
                }
        "
      ></li>
    </ul>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>{{
      TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.TITLE | translate
    }}</ion-card-title>
    <ion-card-subtitle>{{
      TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.SUBTITLE | translate
    }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_1_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_2_DESCRIPTION
            | translate
        }}
        <ul>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.FLOUR
                | translate: { quantity: result().flourToAdd }
            "
          ></li>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.WATER
                | translate: { quantity: result().waterToAdd }
            "
          ></li>
          <li
            [innerHTML]="
              TranslationKeys.PIZZA.RECIPE.QUANTITY.SALT
                | translate: { quantity: result().saltWeight }
            "
          ></li>
        </ul>
      </li>
    </ul>

    <ul>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_3_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_4_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_5_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_6_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_7_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_8_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_9_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_10_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_11_DESCRIPTION
            | translate
        }}
        <strong>{{ pizzaWeight }} g</strong>
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_12_DESCRIPTION
            | translate
        }}
      </li>
      <li>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.STEP_13_DESCRIPTION
            | translate
        }}
      </li>
    </ul>

    <div class="tips">
      <p>
        <strong>{{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.TIPS_TITLE | translate
        }}</strong>
        {{
          TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.TIPS_DESCRIPTION
            | translate
        }}
      </p>
    </div>

    <p class="success-message">
      <strong>{{
        TranslationKeys.PIZZA.RECIPE.DOUGH_PREPARATION.SUCCESS_MESSAGE
          | translate
      }}</strong>
    </p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>{{
      TranslationKeys.PIZZA.RECIPE.STORAGE.TITLE | translate
    }}</ion-card-title>
    <ion-card-subtitle>{{
      TranslationKeys.PIZZA.RECIPE.STORAGE.SUBTITLE | translate
    }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ul>
      <li>
        <strong>{{
          TranslationKeys.PIZZA.RECIPE.STORAGE.REFRIGERATOR | translate
        }}</strong>
      </li>
      <li>
        <strong>{{
          TranslationKeys.PIZZA.RECIPE.STORAGE.FREEZER | translate
        }}</strong>
      </li>
    </ul>
  </ion-card-content>
</ion-card>
