<form [formGroup]="form">
  <ion-list>
    <ion-item lines="none">
      <ion-range
        aria-label="Range with pin"
        [pin]="true"
        [pinFormatter]="pinFormatter"
        formControlName="nbPizzas"
        labelPlacement="start"
        [label]="'dough.form.pizzasNumber' | translate"
        [min]="1"
        [max]="25"
      ></ion-range>
    </ion-item>
    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.doughType' | translate"
        formControlName="doughType"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        <ion-select-option value="direct">{{
          "dough.doughTypes.direct" | translate
        }}</ion-select-option>
        <ion-select-option value="poolish">{{
          "dough.doughTypes.poolish" | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.poolishRatio' | translate"
        formControlName="poolishRatio"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        @for (poolishRatio of range(30, 60); track poolishRatio) {
          <ion-select-option [value]="poolishRatio / 100">
            {{ poolishRatio }}%
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.yeastType' | translate"
        formControlName="yeastType"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        <ion-select-option value="dry_active">
          {{ "dough.ingredients.dryActiveYeast" | translate }}
        </ion-select-option>
        <ion-select-option value="dry_instant">
          {{ "dough.ingredients.dryInstantYeast" | translate }}
        </ion-select-option>
        <ion-select-option value="fresh">{{
          "dough.ingredients.freshYeast" | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.hydration' | translate"
        formControlName="hydrationRatio"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        <ion-select-option [value]="0.62">62%</ion-select-option>
        <ion-select-option [value]="0.63">63%</ion-select-option>
        <ion-select-option [value]="0.64">64%</ion-select-option>
        <ion-select-option [value]="0.65">65%</ion-select-option>
        <ion-select-option [value]="0.66">66%</ion-select-option>
        <ion-select-option [value]="0.67">67%</ion-select-option>
        <ion-select-option [value]="0.68">68%</ion-select-option>
        <ion-select-option [value]="0.69">69%</ion-select-option>
        <ion-select-option [value]="0.7">70%</ion-select-option>
        <ion-select-option [value]="0.71">71%</ion-select-option>
        <ion-select-option [value]="0.72">72%</ion-select-option>
        <ion-select-option [value]="0.73">73%</ion-select-option>
        <ion-select-option [value]="0.74">74%</ion-select-option>
        <ion-select-option [value]="0.75">75%</ion-select-option>
        <ion-select-option [value]="0.76">76%</ion-select-option>
        <ion-select-option [value]="0.77">77%</ion-select-option>
        <ion-select-option [value]="0.78">78%</ion-select-option>
        <ion-select-option [value]="0.79">79%</ion-select-option>
        <ion-select-option [value]="0.8">80%</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.temperature' | translate"
        formControlName="temperature"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        @for (temperature of range(19, 36); track temperature) {
          <ion-select-option [value]="temperature">
            {{ temperature }}°C
          </ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.rtRestTime' | translate"
        formControlName="rtRestTime"
        [label]="'dough.form.rtRestTime' | translate"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        @for (i of range(1, 24); track i) {
          <ion-select-option [value]="i"
            >{{ i }}
            {{
              "dough.form.restTimeUnit" | translate: { count: i } | lowercase
            }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select
        mode="ios"
        [label]="'dough.form.coldRestTime' | translate"
        formControlName="coldRestTime"
        [label]="'dough.form.coldRestTime' | translate"
        [cancelText]="'common.actions.cancel' | translate"
        [okText]="'common.actions.ok' | translate"
      >
        @for (i of range(0, 24); track i) {
          <ion-select-option [value]="i"
            >{{ i }}
            {{
              "dough.form.restTimeUnit" | translate: { count: i } | lowercase
            }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>
</form>
