<form [formGroup]="form">
  <ion-list>
    <ion-item>
      <ion-range
        aria-label="Range with pin"
        [pin]="true"
        [pinFormatter]="pinFormatter"
        formControlName="nbPizzas"
        labelPlacement="start"
        [label]="TranslationKeys.PIZZA.FORM.PIZZAS_NUMBER | translate"
        [min]="1"
        [max]="25"
      ></ion-range>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [label]="TranslationKeys.PIZZA.FORM.DOUGH_TYPE | translate"
        formControlName="doughType"
      >
        <ion-select-option value="direct">{{
          TranslationKeys.PIZZA.DOUGH_TYPES.DIRECT | translate
        }}</ion-select-option>
        <ion-select-option value="poolish">{{
          TranslationKeys.PIZZA.DOUGH_TYPES.POOLISH | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [label]="TranslationKeys.PIZZA.FORM.YEAST_TYPE | translate"
        formControlName="yeastType"
      >
        <ion-select-option value="dry_active">
          {{ TranslationKeys.PIZZA.INGREDIENTS.DRY_ACTIVE_YEAST | translate }}
        </ion-select-option>
        <ion-select-option value="dry_instant">
          {{ TranslationKeys.PIZZA.INGREDIENTS.DRY_INSTANT_YEAST | translate }}
        </ion-select-option>
        <ion-select-option value="fresh">{{
          TranslationKeys.PIZZA.INGREDIENTS.FRESH_YEAST | translate
        }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [label]="TranslationKeys.PIZZA.FORM.HYDRATION | translate"
        formControlName="hydrationRatio"
      >
        <ion-select-option [value]="0.62">62%</ion-select-option>
        <ion-select-option [value]="0.63">63%</ion-select-option>
        <ion-select-option [value]="0.64">64%</ion-select-option>
        <ion-select-option [value]="0.65">65%</ion-select-option>
        <ion-select-option [value]="0.66">66%</ion-select-option>
        <ion-select-option [value]="0.67">67%</ion-select-option>
        <ion-select-option [value]="0.68">68%</ion-select-option>
        <ion-select-option [value]="0.69">69%</ion-select-option>
        <ion-select-option [value]="0.7">70%</ion-select-option>
        <ion-select-option [value]="0.71">71%</ion-select-option>
        <ion-select-option [value]="0.72">72%</ion-select-option>
        <ion-select-option [value]="0.73">73%</ion-select-option>
        <ion-select-option [value]="0.74">74%</ion-select-option>
        <ion-select-option [value]="0.75">75%</ion-select-option>
        <ion-select-option [value]="0.76">76%</ion-select-option>
        <ion-select-option [value]="0.77">77%</ion-select-option>
        <ion-select-option [value]="0.78">78%</ion-select-option>
        <ion-select-option [value]="0.79">79%</ion-select-option>
        <ion-select-option [value]="0.8">80%</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [label]="TranslationKeys.PIZZA.FORM.TEMPERATURE | translate"
        formControlName="temperature"
      >
        <ion-select-option [value]="0"></ion-select-option>
        @for (temperature of range(19, 36); track temperature) {
          <ion-select-option [value]="temperature">
            {{ temperature }}°C
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    @if (this.form.get("poolishRatio")?.enabled) {
      <ion-item>
        <ion-select
          mode="ios"
          [label]="TranslationKeys.PIZZA.FORM.POOLISH_RATIO | translate"
          formControlName="poolishRatio"
        >
          @for (poolishRatio of range(30, 60); track poolishRatio) {
            <ion-select-option [value]="poolishRatio / 100">
              {{ poolishRatio }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    <ion-item>
      <ion-select
        mode="ios"
        [label]=""
        formControlName="rtRestTime"
        [label]="TranslationKeys.PIZZA.FORM.RT_REST_TIME | translate"
      >
        @for (i of range(1, 24); track i) {
          <ion-select-option [value]="i"
            >{{ i }}
            {{
              TranslationKeys.getPluralizationKey(
                TranslationKeys.PIZZA.FORM.REST_TIME_UNIT,
                i > 1 ? true : false
              )
                | translate
                | lowercase
            }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select
        mode="ios"
        [label]=""
        formControlName="coldRestTime"
        [label]="TranslationKeys.PIZZA.FORM.COLD_REST_TIME | translate"
      >
        @for (i of range(0, 24); track i) {
          <ion-select-option [value]="i"
            >{{ i }}
            {{
              TranslationKeys.getPluralizationKey(
                TranslationKeys.PIZZA.FORM.REST_TIME_UNIT,
                i > 1 ? true : false
              )
                | translate
                | lowercase
            }}
          </ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>
</form>
