<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>{{ "pages.home.title" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/tabs/home/settings']">
        <i-lucide slot="icon-only" [img]="SettingsIcon"></i-lucide>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ "pages.home.title" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  @for (item of items; track item.title) {
    <ion-card [routerLink]="item.routerLink">
      <ion-card-header>
        <ion-card-title>
          {{ item.title | translate }}
        </ion-card-title>
        <ion-card-subtitle>
          {{ item.subtitle | translate }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ item.content | translate }}
      </ion-card-content>
    </ion-card>
  }
</ion-content>
