@let settings = settings$ | async;

<form [formGroup]="form">
  <ion-list-header>
    {{ "calculator.form.titles.quantity" | translate }}
  </ion-list-header>
  <ion-list lines="none">
    <ion-item>
      <ion-range
        aria-label="Range with pin"
        [pinFormatter]="pinFormatter"
        formControlName="nbPizzas"
        labelPlacement="start"
        [label]="'calculator.form.pizzasNumber' | translate"
        [min]="1"
        [max]="25"
      >
        <ion-label slot="end">
          <h2>{{ form.get("nbPizzas")?.value }}</h2>
        </ion-label>
      </ion-range>
    </ion-item>
    @if (settings?.pizzaWeight?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.pizzaWeight' | translate"
          formControlName="pizzaWeight"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (pizzaWeight of range(150, 400, 10); track pizzaWeight) {
            <ion-select-option [value]="pizzaWeight">
              {{ pizzaWeight | number: "1.0-0" }} g
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>

  <ion-list-header>
    {{ "calculator.form.titles.doughType" | translate }}
  </ion-list-header>
  <ion-list lines="none">
    @if (settings?.doughType?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.doughType' | translate"
          formControlName="doughType"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          <ion-select-option value="direct">{{
            "calculator.doughTypes.direct" | translate
          }}</ion-select-option>
          <ion-select-option value="poolish">{{
            "calculator.doughTypes.poolish" | translate
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    }
    @if (showPoolishRatio$ | async) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.poolishRatio' | translate"
          formControlName="poolishRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (poolishRatio of range(30, 60); track poolishRatio) {
            <ion-select-option [value]="poolishRatio / 100">
              {{ poolishRatio }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (settings?.yeastType?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.yeastType' | translate"
          formControlName="yeastType"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          <ion-select-option value="dry_active">
            {{ "common.yeastTypes.dryActive" | translate }}
          </ion-select-option>
          <ion-select-option value="dry_instant">
            {{ "common.yeastTypes.dryInstant" | translate }}
          </ion-select-option>
          <ion-select-option value="fresh">{{
            "common.yeastTypes.fresh" | translate
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    }
    @if (settings?.saltRatio?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.saltRatio' | translate"
          formControlName="saltRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (saltRatio of range(0.02, 0.04, 0.001, 3); track saltRatio) {
            <ion-select-option [value]="saltRatio">
              {{ saltRatio * 100 | number: "1.1-1" }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (settings?.honeyRatio?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.honeyRatio' | translate"
          formControlName="honeyRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (honeyRatio of range(0, 0.005, 0.001, 3); track honeyRatio) {
            <ion-select-option [value]="honeyRatio">
              {{ honeyRatio * 100 | number: "1.1-1" }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (settings?.flourStrength?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.flourStrength' | translate"
          formControlName="flourStrength"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (flourStrength of range(200, 400, 10); track flourStrength) {
            <ion-select-option [value]="flourStrength">
              {{ flourStrength }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (settings?.hydrationRatio?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.hydration' | translate"
          formControlName="hydrationRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (
            hydrationRatio of range(0.55, 0.8, 0.01, 2);
            track hydrationRatio
          ) {
            <ion-select-option [value]="hydrationRatio">
              {{ hydrationRatio * 100 | number: "1.0-0" }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>
  <ion-list-header>{{
    "calculator.form.titles.rest" | translate
  }}</ion-list-header>
  <ion-list lines="none">
    @if (settings?.temperature?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.temperature' | translate"
          formControlName="temperature"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (temperature of range(19, 36); track temperature) {
            <ion-select-option [value]="temperature">
              {{ temperature }}°C
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (settings?.rtRestTime?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.rtRestTime' | translate"
          formControlName="rtRestTime"
          [label]="'calculator.form.rtRestTime' | translate"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (i of range(1, 24); track i) {
            <ion-select-option [value]="i"
              >{{ i }}
              {{
                "calculator.form.restTimeUnit"
                  | translate: { count: i }
                  | lowercase
              }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (settings?.coldRestTime?.visible) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.coldRestTime' | translate"
          formControlName="coldRestTime"
          [label]="'calculator.form.coldRestTime' | translate"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (i of range(0, 24); track i) {
            <ion-select-option [value]="i"
              >{{ i }}
              {{
                "calculator.form.restTimeUnit"
                  | translate: { count: i }
                  | lowercase
              }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>

  <ion-list-header>{{
    "calculator.form.infos.title" | translate
  }}</ion-list-header>
  <ion-list lines="none" class="muted">
    <ion-item>
      <ion-label>{{ "calculator.form.infos.restTime" | translate }}</ion-label>
      <ion-label slot="end"
        >~{{ (doughAndPoolishRestTime$ | async) ?? 0 | number: "1.0-0" }}
        {{ "calculator.form.infos.hoursUnit" | translate }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>{{
        "calculator.form.infos.ballsRestTime" | translate
      }}</ion-label>
      <ion-label slot="end"
        >~{{ pizzaBallsRestTime$ | async | number: "1.0-0" }}
        {{ "calculator.form.infos.hoursUnit" | translate }}</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label>
        {{ "calculator.form.infos.totalPrepTime" | translate }}
        <p>
          {{ "calculator.form.infos.totalPrepTimeDescription" | translate }}
        </p>
      </ion-label>
      <ion-label slot="end"
        >~{{ totalPrepTime$ | async | number: "1.0-0" }}
        {{ "calculator.form.infos.hoursUnit" | translate }}
      </ion-label>
    </ion-item>
  </ion-list>
</form>
