@let visibility = visibility$ | async;

<form [formGroup]="form">
  <ion-list-header>
    {{ "calculator.form.titles.quantity" | translate }}
  </ion-list-header>
  <ion-list lines="none" [inset]="true">
    @if (visibility?.nbPizzas) {
      <ion-item>
        <ion-range
          aria-label="Range with pin"
          [pinFormatter]="pinFormatter"
          formControlName="nbPizzas"
          labelPlacement="start"
          [label]="'calculator.form.pizzasNumber' | translate"
          [min]="1"
          [max]="25"
        >
          <ion-label slot="end">
            <h2>{{ form.get("nbPizzas")?.value }}</h2>
          </ion-label>
        </ion-range>
      </ion-item>
    }
    @if (visibility?.pizzaWeight) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.pizzaWeight' | translate"
          formControlName="pizzaWeight"
        >
          @for (pizzaWeight of range(200, 400, 10); track pizzaWeight) {
            <ion-select-option [value]="pizzaWeight">
              {{ pizzaWeight | number: "1.0-0" }} g
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>

  <ion-list-header>
    {{ "calculator.form.titles.doughType" | translate }}
  </ion-list-header>
  <ion-list lines="none" [inset]="true">
    @if (visibility?.doughType) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.doughType' | translate"
          formControlName="doughType"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          <ion-select-option value="direct">{{
            "calculator.doughTypes.direct" | translate
          }}</ion-select-option>
          <ion-select-option value="poolish">{{
            "calculator.doughTypes.poolish" | translate
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    }
    @if (visibility?.poolishRatio) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.poolishRatio' | translate"
          formControlName="poolishRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (poolishRatio of range(30, 60); track poolishRatio) {
            <ion-select-option [value]="poolishRatio / 100">
              {{ poolishRatio }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (visibility?.yeastType) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.yeastType' | translate"
          formControlName="yeastType"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          <ion-select-option value="dry_active">
            {{ "common.ingredients.dryActiveYeast" | translate }}
          </ion-select-option>
          <ion-select-option value="dry_instant">
            {{ "common.ingredients.dryInstantYeast" | translate }}
          </ion-select-option>
          <ion-select-option value="fresh">{{
            "common.ingredients.freshYeast" | translate
          }}</ion-select-option>
        </ion-select>
      </ion-item>
    }
    @if (visibility?.saltRatio) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.saltRatio' | translate"
          formControlName="saltRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (saltRatio of range(0.02, 0.04, 0.001, 3); track saltRatio) {
            <ion-select-option [value]="saltRatio">
              {{ saltRatio * 100 | number: "1.1-1" }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (visibility?.honeyRatio) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.honeyRatio' | translate"
          formControlName="honeyRatio"
        >
          @for (honeyRatio of range(0, 0.005, 0.001, 3); track honeyRatio) {
            <ion-select-option [value]="honeyRatio">
              {{ honeyRatio * 100 | number: "1.1-1" }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (visibility?.flourStrength) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.flourStrength' | translate"
          formControlName="flourStrength"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (flourStrength of range(200, 400, 10); track flourStrength) {
            <ion-select-option [value]="flourStrength">
              {{ flourStrength }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (visibility?.hydrationRatio) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.hydration' | translate"
          formControlName="hydrationRatio"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
          [helperText]="
            'calculator.form.hydrationHelperText'
              | translate
                : {
                    minHydration:
                      recommendedHydration().minHydration | number: '1.0-0',
                    maxHydration:
                      recommendedHydration().maxHydration | number: '1.0-0',
                  }
          "
        >
          @for (
            hydrationRatio of range(0.55, 0.8, 0.01, 2);
            track hydrationRatio
          ) {
            <ion-select-option [value]="hydrationRatio">
              {{ hydrationRatio * 100 | number: "1.0-0" }}%
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>
  <ion-list-header>{{
    "calculator.form.titles.rest" | translate
  }}</ion-list-header>
  <ion-list [inset]="true" lines="none">
    @if (visibility?.temperature) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.temperature' | translate"
          formControlName="temperature"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (temperature of range(19, 36); track temperature) {
            <ion-select-option [value]="temperature">
              {{ temperature }}°C
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (visibility?.rtRestTime) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.rtRestTime' | translate"
          formControlName="rtRestTime"
          [label]="'calculator.form.rtRestTime' | translate"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (i of range(1, 24); track i) {
            <ion-select-option [value]="i"
              >{{ i }}
              {{
                "calculator.form.restTimeUnit"
                  | translate: { count: i }
                  | lowercase
              }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
    @if (visibility?.coldRestTime) {
      <ion-item>
        <ion-select
          [label]="'calculator.form.coldRestTime' | translate"
          formControlName="coldRestTime"
          [label]="'calculator.form.coldRestTime' | translate"
          [cancelText]="'common.actions.cancel' | translate"
          [okText]="'common.actions.ok' | translate"
        >
          @for (i of range(0, 24); track i) {
            <ion-select-option [value]="i"
              >{{ i }}
              {{
                "calculator.form.restTimeUnit"
                  | translate: { count: i }
                  | lowercase
              }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>
    }
  </ion-list>
</form>
