.muted {
  opacity: 0.6; // visually dim entire block so it looks disabled
  pointer-events: none; // make all child elements non-interactive
  user-select: none; // prevent text selection as further hint of read-only status
  ion-item {
    --color: var(--ion-color-medium);
    ion-label {
      color: var(--ion-color-medium);
    }
  }
}

// Dark theme specific styles
:host-context(.ion-palette-dark) .muted {
  opacity: 0.6; // visually dim entire block so it looks disabled
  pointer-events: none; // make all child elements non-interactive
  user-select: none; // prevent text selection as further hint of read-only status
  ion-item {
    --color: var(--ion-color-light);
    ion-label {
      color: var(--ion-color-light);
    }
  }
}
