@if (result) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{
        "dough.recipe.poolish.poolish.title" | translate
      }}</ion-card-title>
      <ion-card-subtitle>{{
        "dough.recipe.poolish.poolish.subtitle" | translate
      }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          {{ "dough.recipe.poolish.poolish.step1Description" | translate }}
          <ul>
            <li
              [innerHTML]="
                'dough.recipe.quantity.flour'
                  | translate
                    : { quantity: round(result.poolish?.flour, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.water'
                  | translate
                    : { quantity: round(result.poolish?.water, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.yeast'
                  | translate
                    : { quantity: round(result.poolish?.yeast, '1.0-1') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.honey'
                  | translate
                    : { quantity: round(result.poolish?.honey, '1.0-0') }
              "
            ></li>
          </ul>
        </li>
      </ul>

      <ul>
        <li>
          {{ "dough.recipe.poolish.poolish.step2Description" | translate }}
        </li>
        <li
          [innerHTML]="
            'dough.recipe.poolish.poolish.step3Description'
              | translate
                : {
                    coldRestTime: result.poolish?.coldRestTime ?? 0,
                    rtRestTime: result.poolish?.rtRestTime ?? 0,
                  }
          "
        ></li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{
        "dough.recipe.poolish.dough.title" | translate
      }}</ion-card-title>
      <ion-card-subtitle>{{
        "dough.recipe.poolish.dough.subtitle" | translate
      }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          {{ "dough.recipe.poolish.dough.step1Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step2Description" | translate }}
          <ul>
            <li
              [innerHTML]="
                'dough.recipe.quantity.flour'
                  | translate: { quantity: round(result.dough.flour, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.water'
                  | translate: { quantity: round(result.dough.water, '1.0-0') }
              "
            ></li>
            <li
              [innerHTML]="
                'dough.recipe.quantity.salt'
                  | translate: { quantity: round(result.dough.salt, '1.0-0') }
              "
            ></li>
          </ul>
        </li>
      </ul>

      <ul>
        <li>
          {{ "dough.recipe.poolish.dough.step3Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step4Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step5Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step6Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step7Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step8Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step9Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step10Description" | translate }}
        </li>
        <li
          [innerHTML]="
            'dough.recipe.poolish.dough.step11Description'
              | translate: { pizzaWeight: round(result.pizzaWeight, '1.0-0') }
          "
        ></li>
        <li>
          {{ "dough.recipe.poolish.dough.step12Description" | translate }}
        </li>
        <li>
          {{ "dough.recipe.poolish.dough.step13Description" | translate }}
        </li>
      </ul>

      <div class="tips">
        <p>
          <strong>{{
            "dough.recipe.poolish.dough.tipsTitle" | translate
          }}</strong>
          {{ "dough.recipe.poolish.dough.tipsDescription" | translate }}
        </p>
      </div>

      <p class="success-message">
        <strong>{{
          "dough.recipe.poolish.dough.successMessage" | translate
        }}</strong>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{
        "dough.recipe.storage.title" | translate
      }}</ion-card-title>
      <ion-card-subtitle>{{
        "dough.recipe.storage.subtitle" | translate
      }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          {{ "dough.recipe.storage.refrigerator" | translate }}
        </li>
        <li>
          {{ "dough.recipe.storage.freezer" | translate }}
        </li>
      </ul>
    </ion-card-content>
  </ion-card>
}
