<ion-card>
  <ion-card-header>
    <ion-card-title>{{
      "calculator.assistant.title" | translate
    }}</ion-card-title>
    <ion-card-subtitle>{{
      "calculator.assistant.subtitle" | translate
    }}</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p>{{ "calculator.assistant.description" | translate }}</p>

    <ion-button
      expand="block"
      color="primary"
      id="open-modal"
      class="ion-margin-top"
      (click)="runAssistantFlow()"
    >
      {{ "calculator.assistant.startButton" | translate }}
    </ion-button>
    @if (progressValue() > 0) {
      <ion-button
        expand="block"
        color="secondary"
        id="open-modal"
        class="ion-margin-top"
        (click)="continueAssistantFlow()"
      >
        {{ "calculator.assistant.continueButton" | translate }}
      </ion-button>
    }
  </ion-card-content>
</ion-card>

<ion-modal trigger="open-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{
          "calculator.assistant.form.titles." + currentStep().key | translate
        }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="dismissModal()">
            <i-lucide [img]="XIcon"></i-lucide>
          </ion-button>
        </ion-buttons>
        <ion-progress-bar [value]="progressValue()"></ion-progress-bar>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <div
        class="step-container"
        [@slideAnimation]="animationState()"
        (@slideAnimation.done)="onAnimationDone()"
      >
        <ng-container
          *ngComponentOutlet="currentStepComponent(); inputs: inputs"
        ></ng-container>
      </div>
    </ion-content>

    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button
            fill="clear"
            (click)="goBack()"
            [disabled]="!canGoBack() || isAnimating()"
          >
            <i-lucide [img]="ChevronLeft" slot="start"></i-lucide>
            {{ "common.navigation.previous" | translate }}
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button
            fill="solid"
            (click)="proceed()"
            [disabled]="!canProceed() || isAnimating()"
            [color]="isLastStep() ? 'success' : 'primary'"
          >
            {{
              (isLastStep()
                ? "common.actions.validate"
                : "common.navigation.next"
              ) | translate
            }}
            @if (isLastStep()) {
              <i-lucide [img]="CheckIcon" slot="end"></i-lucide>
            } @else {
              <i-lucide [img]="ChevronRight" slot="end"></i-lucide>
            }
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
